<h1>Welcome <%= current_login.user.name %></h1>

<form class = "DatePicker" action="/dashboard" method="get">
  <%= form_tag('/dashboard', :method => 'get' ) do %>
      <label for="searchbox">Date: </label>
      <input id="searchbox" type = "text" name = "searchq">
      <input type="submit" value = "Search My Activities">
  <% end %>
</form>

<% if not params[:searchq].blank? %>
    <% if @myActivities.blank? %>
        No Activities Found
    <% else %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Start date</th>
        <th>Duration</th>
        <th>Distance</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @myActivities.each do |activity| %>
          <tr>
            <td><%= activity.name %></td>
            <td><%= activity.sport.name %></td>
            <td><%= activity.start_date %></td>
            <td><%= activity.duration %></td>
            <td><%= activity.distance %></td>
            <td><%= link_to 'Show', activity %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
<% end %>



<br><br>
<h2>My Friends</h2>

<table>
  <% if @friendships.blank? %>
      <p> No friends found </p>
  <% else %>
      <tbody>
      <% @friendships.each do |friendship| %>
          <tr>
            <td><%= link_to friendship.friend.name, dashboard_path(:id => friendship.friend.id) %></td>
          </tr>
      <% end %>
      </tbody>
  <% end %>
</table>
<br>

<% if not params[:id].blank? %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Start date</th>
        <th>Duration</th>
        <th>Distance</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @friend_activities.each do |activity| %>
          <tr>
            <td><%= activity.name %></td>
            <td><%= activity.sport.name %></td>
            <td><%= activity.start_date %></td>
            <td><%= activity.duration %></td>
            <td><%= activity.distance %></td>
            <td><%= link_to 'Show', activity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>