<h2>Friendships</h2>
<table>
  <% if @friendships.blank? %>
    <p> No friends found </p>
  <% else %>
  <tbody>
    <% @friendships.each do |friendship| %>
      <tr>
        <td><%= link_to friendship.friend.name, friendship.friend %> - <%= link_to 'Delete', friendships_delete_path(id_f: friendship.friend.id) %> </td>
      </tr>
    <% end %>

  </tbody>
  <% end %>
</table>
<br>

<h2>Sent Friendship Requests</h2>
<table>
  <% if @pendingFriendships.blank? %>
    <p> No requests found </p>
  <% else %>
  <tbody>
    <% @pendingFriendships.each do |friendship| %>
      <tr>
        <td><%= link_to friendship.friend.name, friendship.friend %> - <%= link_to 'Cancel', friendships_cancel_path(id_f: friendship.friend.id) %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
<br>

<h2>Received Friendship Requests</h2>
<table>
  <% if @receivedFriendships.blank? %>
    <p> No requests found </p>
  <% else %>
  <tbody>
    <% @receivedFriendships.each do |friendship| %>
      <tr>
        <td><%= link_to friendship.user.name, friendship.user %> - <%= link_to 'Accept', friendships_confirm_path(id: friendship.user.id) %> |
          <%= link_to 'Reject', friendships_reject_path(id: friendship.friend.id) %>

        </td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
<br>

