<p><%= link_to 'New Activity', new_activity_path %></p>

<h2>My Activities</h2>

<% if @myActivities.blank? %>
    You have no activities
<% else %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Start date</th>
        <th>Duration</th>
        <th>Distance</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @myActivities.each do |activity| %>
          <tr>
            <td><%= activity.name %></td>
            <td><%= activity.sport.name %></td>
            <td><%= activity.start_date %></td>
            <td><%= activity.duration %></td>
            <td><%= activity.distance %></td>
            <td><%= link_to 'Show', activity %></td>
            <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
            <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<div>
    <p> Filter by: <%= link_to 'Week', activities_path(day: 1.week.ago) %> ,
      <%= link_to 'Month', activities_path(month: Date.today.month) %> ,
      <%= link_to 'Year', activities_path(year: Date.today.year) %> ,
      <%= link_to 'All', activities_path %>
    </p>
</div>


<br><br>
<h2>All Activities</h2>

<form class = "SearchForm" action="/activities" method="get">
  <%= form_tag('/activities', :method => 'get' ) do %>
      <label for="searchbox">Search:</label>
      <input id="searchbox" type = "text" name = "searchq">
      <input type="submit" value="GO!">
  <% end %>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
      <th>User</th>
      <th>Start date</th>
      <th>Duration (min)</th>
      <th>Distance (m)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.sport.name %></td>
        <td><%= activity.user.name %></td>
        <td><%= activity.start_date %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.distance %></td>
        <td><%= link_to 'Show', activity %></td>
        <% if activity.user_id == current_login.user.id %>
            <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
            <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


