<h1>New activity</h1>

<%= form_for(@activity) do |f| %>
    <% if @activity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

          <ul>
            <% @activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :sport_id %><br>
      <%= f.select(:sport_id, @sports, :prompt=>'Select an Sport') %>
    </div>
    <!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  -->
    <div class="field">
      <%= f.label :map_id %><br>
      <%= f.number_field :map_id %>
    </div>
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.datetime_select :start_date, :start_year => 1920, :end_year => Date.today.year+1 %>
    </div>
    <div class="field">
      <%= f.label :duration %><br>
      <%= f.number_field :duration %>
    </div>
    <div class="field">
      <%= f.label :distance %><br>
      <%= f.number_field :distance %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Back', activities_path %>
